# ================================================
# GENERAL
# ================================================

# Ignore IDEs
.idea

# Ignore OS files
.DS_Store

# Packages
*.tgz

# Secrets path
.secrets/

# General reports
/report
/reports
.dccache

# Dot env
.env

# ================================================
# VSCODE
# ================================================

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# SSH
home/.ssh/known_hosts
home/.ssh/known_hosts.old

# Git
home/.config/git/include/work-config
home/.config/gh/hosts.yml

# Secrets
home/.shell/zsh/exports/lib/_secrets.zsh
